/* Define the Museo Sans font */
@font-face {
    font-family: 'Museo Sans';
    src: url('./assets/fonts/Museo Sans/MuseoSans_300.otf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans';
    src: url('./assets/fonts/Museo Sans/MuseoSans_700.otf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

/* Example usage of Museo Sans */
body {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Museo Sans';
    font-weight: 300;
    color: rgb(237, 237, 237);
    background-color: #1a1a1a;
}

.header_image {
    width: 100%;
    height: auto;
    margin-bottom: -100px;

}



.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 1400px;
    margin-bottom: 80px;
    padding: 0 20px;
    overflow: hidden;
}

#contact {
    text-align: left;
}

h1 {
    font-weight: 700;
    font-size: clamp(48px, 10vw, 128px);
    margin: 0;
    margin-bottom: 80px;
}

h2 {
    font-weight: 700;
    font-size: clamp(40px, 10vw, 128px);
    margin: 0;
}


h3 {
    font-weight: 700;
    font-size: clamp(24px, 6vw, 64px);
    margin: 0;
}

p {
    font-weight: 300;
    font-size: 24px;
    line-height: 150%;
    margin: 0;
}

a {
    color: rgb(237, 237, 237);
}

p.heading-paragraph {
    font-weight: 300;
    font-size: clamp(20px, 3vw, 40px);
    margin: auto;
    width: 80%;
}

.music_card {
    width: 100%;
    padding: 80px;
    position: relative;
    height: 770px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 80px;
}




.music_card>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    object-position: right;
    z-index: -1;
    border-radius: 20px;
}

img::after {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: red;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -2;
    padding: 3px;
    border-radius: 20px;
    filter: blur(1.5rem);
    opacity: 0.5;
}

.music_card>div {
    width: 100%;
}

.bottom {
    width: 100%;
}

.dot {
    height: clamp(48px, 7vw, 96px);
    width: clamp(48px, 7vw, 96px);
    background-color: rgb(237, 237, 237);
    color: #1a1a1a;
    border-radius: 50%;
    display: inline-block;
    border: none;
    cursor: pointer;
}

.dot:hover {
    background-color: rgb(224, 224, 224);
}

.play_button_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 80px;
}

/* MEDIA QUERY */

@media screen and (max-width: 900px) {

    .header_image {
        width: 200%;
        height: auto;
        align-self: center;
        margin-bottom: -40px;
    }

    h1 {
        margin-bottom: 40px;

    }


    p.header {
        width: 100%;
    }

    p {
        font-size: 16px;
    }

    .music_card {
        width: 100%;
        padding: 0px;
        position: relative;
        height: auto;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
        margin-bottom: 80px
    }

    .music_card>img {
        position: relative;
        width: 100%;
        height: auto;
        min-height: 300px;
        min-width: 250px;
        object-position: right;
        z-index: -1;
    }

    .play_button_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0px;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.7rem;
    }
}

@media screen and (max-width: 450px) {
    .grid {

        grid-template-columns: 1fr;
    }
}